<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Fitness Club - Mabutsi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Welcome to Fitness Club - Mabutsi</h2>
            <h3>username: admin password: Mabutsi@12</h3>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <div class="flash-message error">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form class="login-form" method="POST" action="{{ url_for('login') }}">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter username" required>

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter password" required>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>



